.header-list{
    list-style: none;
}
.header-list li {
    text-align: right;
}
.cart-number{
    background: rgb(11, 11, 77);
    color: white;
    width: 30px;
    padding-top: 6px;
    text-align: center;
}